.footer {
  grid-area: footer;
  height: 200px;
  background-color: #2d2d2d;
}

.ftText {
  font-family: Esteban, Georgia, "Times New Roman", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: none;
  color: #fff;
}
