.container {
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
  color: #fff;
  border: 1px solid #fff;
}

.header {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 130px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -6.5px;
  line-height: 130px;
  text-transform: none;
  color: #ffffff;
}
