.resContainer {
  width: 100%;
}

.ltContainer {
  width: 30%;
  height: 177px;
  margin: -1px;
}

.ltShape60 {
  background-color: #2d2d2d;
  width: 60%;
  height: 33%;
  margin-bottom: -1px;
}

.ltShape80 {
  background-color: #2d2d2d;
  width: 80%;
  height: 33%;
  border: 1px solid #2d2d2d;
  margin-bottom: -1px;
}

.ltShape100 {
  background-color: #2d2d2d;
  width: 100%;
  height: 34%;
  margin-bottom: -1px;
}

.resTitle {
  padding: 50px 0px;
  background-color: #2d2d2d;
  color: #fff;
}

.resTitleText {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1.5px;
  line-height: 65px;
  text-transform: none;
  padding-bottom: 35px;
  margin: 0 auto auto 10%;
}

.resMis {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-transform: none;
  margin: auto;
  max-width: 700px;
  padding: 0 10%;
}

.resMain {
  margin: 5% auto 5% 10%;
}

.resHd {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1.5px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
}

.resDate {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 18px;
  text-transform: none;
  max-width: 700px;
  margin: 0;
  padding: 20px 10% 0px;
}

.resLgText {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 36px;
  text-transform: none;
  max-width: 700px;
  margin: 0;
  padding: 0 10%;
}

.resText {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-transform: none;
  max-width: 700px;
  margin: 0;
  padding: 0 20% 20px;
}

@media only screen and (max-width: 680px) {
  .ltContainer {
    height: 93px;
    width: 40%;
  }

  .resTitleText {
    font-size: 36px;
    letter-spacing: -1.5px;
    line-height: 36px;
  }

  .resMis {
    font-size: 16px;
    line-height: 25px;
  }

  .resHd {
    font-size: 16px;
    line-height: 25px;
  }

  .resDate {
    font-size: 16px;
    line-height: 16px;
  }

  .resLgText {
    font-size: 16px;
    line-height: 25px;
  }

  .resText {
    font-size: 16px;
    line-height: 16px;
  }
}
