.btn {
  align-self: center;
  background-color: var(--color-senary);
  color: var(--color-primary);
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 4px;
  margin-bottom: 2%;
  max-width: 750px;
}

.btn:hover {
  background-color: var(--color-tertiary);
}

.btn:after {
  content: "+";
  font-size: 1rem;
  color: var(--color-primary);
  float: right;
  margin-left: 4%;
}

.btnM {
  align-self: center;
  background-color: var(--color-senary);
  color: var(--color-primary);
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 4px;
  margin-bottom: 1%;
}

.btnM:hover {
  background-color: var(--color-tertiary);
  color: var(--color-senary);
}

.btnM:after {
  content: "-";
  font-size: 1rem;
  color: var(--color-primary);
  float: right;
  margin-left: 4%;
}

.btnM:hover:after {
  color: var(--color-senary);
}

.container {
  background-color: var(--color-senary);
  padding: 3% 5%;
  margin: 2%;
  align-self: center;
  transition: max-height 0.2s ease-out;
  max-width: 1200px;
  position: relative;
}

.closeBtn {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: var(--color-primary);
  position: absolute;
  right: 80px;
  top: 40px;
  border: none;
  background-color: var(--color-senary);
}

.closeBtn:hover {
  color: var(--color-quinary);
  text-decoration: underline;
}

.iconC {
  height: 10px;
  width: 10px;
}

.icon {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

.titleText {
  font-size: 24px;
  color: var(--color-primary);
  margin: 0 0 20px 0;
}

.info {
  display: flex;
  flex-direction: row;
}

.imgC {
  width: 35%;
  height: auto;
}

.proImg {
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.text {
  font-size: 18px;
  color: var(--color-primary);
}

.linkC {
  width: 100%;
  align-self: center;
}

.link {
  align-self: center;
  text-decoration: none;
  color: var(--color-primary);
}

.linkCrossed {
  align-self: center;
  text-decoration: line-through;
  color: var(--color-primary);
}

.link:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.linkCrossed:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

@media only screen and (max-width: 769px) {
  .imgC {
    width: 0;
  }

  .proImg {
    display: none;
  }

  .closeBtn {
    display: none;
  }

  .btnM:after {
    content: "Close";
    color: var(--color-quinary);
  }

  .text {
    font-size: 16px;
  }
}
